<!DOCTYPE html>
<html>
<head>
	<title>Edit Menu Item</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="/static/styles.css" />
</head>
<body>
	<div class="header">
		<h1>Edit {{ menu.name }}</h1>
	</div>
	<div class="body_border">
		{% with message = get_flashed_messages() %}
			{% if message %}
				<strong>{{ message }}</strong>
			{% endif %}
		{% endwith %}
		<form method = 'post'>
			<p>Name:</p>
				<input class="margin_left" type='text' size='30' name='name' value="{{ menu.name }}">
			<p>Description:</p>
				<textarea class="margin_left" rows="4" cols="50" name='description'>{{ menu.description }}</textarea>
			<p>Price:</p>
				<input class="margin_left" type='number' step="any" size='30' name='price' value="{{ menu.price[1:] }}">
			<p>Course:</p>
				{% if menu.course == 'Appetizer' %}
				<input class="margin_left" type='radio' size='30' name='course' value='Appetizer' checked='checked'>Appetizer<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Entree'>Entree<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Dessert'>Dessert<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Beverage'>Beverage<br>
				{% elif menu.course == 'Entree' %}
				<input class="margin_left" type='radio' size='30' name='course' value='Appetizer'>Appetizer<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Entree' checked='checked'>Entree<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Dessert'>Dessert<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Beverage'>Beverage<br>
				{% elif menu.course == 'Dessert' %}
				<input class="margin_left" type='radio' size='30' name='course' value='Appetizer'>Appetizer<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Entree'>Entree<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Dessert' checked='checked'>Dessert<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Beverage'>Beverage<br>
				{% elif menu.course == 'Beverage' %}
				<input class="margin_left" type='radio' size='30' name='course' value='Appetizer'>Appetizer<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Entree'>Entree<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Dessert'>Dessert<br>
				<input class="margin_left" type='radio' size='30' name='course' value='Beverage' checked='checked'>Beverage<br>
				{% endif %}
		<input class="margin_left button" type='submit' value='Edit'>
		<a class="margin_left button" href='/restaurant/{{ menu.restaurant_id }}/'>Cancel</a>
		</form>
	</div>
</body>
</html>